@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* h1, h2, h3, h4, h5, h6 {
    margin: auto;
} */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #AAA;
    text-decoration: none;
}

.contenido {
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    .contenido {
        margin: auto 4%;
    }
}

.menu {
    background-color: #333;
    margin: 0;
    margin-bottom: 1em;
    height: 80px;
}


.btnSpotify {
    background-color:#1DB954; 
    color:white; 
    text-decoration:none;
    border-radius: 2em; 
    padding: .75em;
}

.btnSpotify:hover {
    background-color:#1db954AA;
}

.artistSong {
    color: #999;
}

.artistSong:hover {
    color: #666;
}

.submenu {
    display: flex;
    margin-bottom: 1em;
}

.green {
    color: #1DB954;
}

.submenu h3{
    margin-right: 50px;
}

.submenu a {
    padding: 10px;
    margin: auto 0;
}

.submenu a:hover {
    background-color: #1DB954;
    color: black;
}

.artists, 
.songs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {
    .perfil {
        display: grid;
        align-items: center;
        grid-template-columns: auto 50px;
        grid-template-areas:    'imagen imagen' 
                                'nombre nacionalidad'
                                'seguidores seguidores'
                                'spotify spotify';
    }

    .submenu {
        flex-direction: column;
    }

    .artists, 
    .songs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

.imagen {
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 1100px) {
    .imagen {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width: 800px) {
    .imagen {
        max-width: 100px;
        max-height: 100px;
    }
}
